.Nav {
    background-color: #4365E2;
    padding-bottom: 0;
}

.brandText {
    display: inline;
    margin-left: 0.5rem;
    color: white;
}

.uodLogo {
    margin-bottom: 0.5rem;
}

.nav {
    margin-left: auto;
}

.navLink {
    color: #ffffff !important;
}