.questionCardForm {
    margin: 1.5rem;
}

.questionCard {
    margin-bottom: 1rem;
}

.questionnaireContainer {
    margin-bottom: 1rem;
    padding: 0;
}

.questionnaireCardItem {
    margin: 1rem;
}

.questionnaireQuestion {
    background-color: #444;
    color: #eee;
    overflow: hidden;
}

.questionnaireTitle {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.questionnaireQuestionTitle {
    margin: 1rem;
    margin-bottom: 0.2rem;
}

.questionnaireQuestionDescription {
    margin: 1rem;
}

.questionnaireAnswerContainer {
    margin: 1rem;
}

.submitButton {
    margin-top: 0.5rem;
    float: right;
}

.checkboxContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.questionLabel {
    margin-top: 1rem;
}

.questionOption {
    margin-bottom: 1rem;
}

.questionCardButtons {
    margin-top: 1rem;
    float: right;
}

.addOptionButton {
    margin-right: 0.5rem;
}
