.questionnaireCard {
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;
}

.questionnaireContainer {
    padding-left: 0;
}

.checkboxContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}