@import "~bootstrap/scss/bootstrap";

// a {
  // color: #2649CA;
// }

@font-face {
  font-family: 'Baxter Sans Bold';
  src: url('Baxter_Sans_Bold.ttf');
}

@font-face {
  font-family: 'Baxter Sans Regular';
  src: url('Baxter_Sans_Regular.ttf');
}
