.pageTitle {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: 'Baxter Sans Bold';
}

.addStuffCardTitle {
    margin-top: 3rem;
}

.questionnaireBody {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 1rem;
}

.questionnaireOptionsCol {
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    position: -webkit-sticky;
    position: sticky;
    top: 1rem;
}
