.study{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.studyContainer {
    margin-top: 1rem;
}

.pageTitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.createStudyButton {
    float: right;
    margin-top: 1rem;
}

.studyInfo{
    margin: 0;
}

.studyButton{
    margin-left: 1.5rem;
}