.study{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.studyContainer {
    margin-top: 1rem;
}

.studyRow {
    margin-bottom: 1rem;
}

.pageTitle {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.createStudyButton {
    float: right;
    margin-top: 1rem;
}

.studyInfo{
    margin: 0;
}

.studyButton{
    margin-left: 1.5rem;
}

.staffTableColumn {
    margin: 0;
}

.staffTableRow {
    display: flex;
}

.studyCard {
    padding: 0;
    margin: 0;
}

.questionnaireItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.submitButton {
    margin-top: 1rem;
    float: right;
}

.studyInfoForm {
    margin: 1.5rem;
    padding: 0.25rem;
}

.studyDescriptionLabel {
    margin-top: 1rem;
}

.questionnairesTableHeader{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.createQuestionnaireButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: right;
}

.questionnaireButton {
    margin-left: 1.5rem;
}

.permissionsCard {
    margin-top: 2rem;
    margin-bottom: 2rem;
}